.slider {
  background-color: #000000;
  text-align: center;
  padding: 20px;
  &__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }
  .main-slider {
    margin-bottom: 20px;
    &__item {
      display: inline-block;
      margin-left: 45px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &-controls {

  }
}