section.content
    .content__life
        h1.content__article Личная жизнь
        p.content__title.
            В прошлом Энистон встречалась с музыкантом Адамом Дьюрицем и актёром Тейтом Донованом. Её серьёзные отношения с актёром Брэдом Питтом часто освещались в прессе. Она вышла замуж за Питта 29 июля 2000 года в Малибу. Пара объявила о расставании 7 января 2005 года, 25 марта Энистон подала на развод, и они развелись 2 октября того же года.
                    С мая 2011 года Энистон встречается с актёром Джастином Теру (род. 1971). Они вместе снимались в комедии «Жажда странствий». 10 августа 2012 года, после 15-ти месяцев отношений, пара объявила о помолвке в день 41-го дня рождения Теру. В ночь с 5 на 6 августа 2015 они втайне поженились в их собственном доме в Лос-Анджелесе.