section.information
    img(src="img/img-info.jpg" alt="")
    p.
        Jennifer Joanna Aniston (born. Jennifer Joanna
        Aniston) - American actress,
        best known for her role as
        Rachel Green in the television series "Friends"
        For which she was awarded the "Emmy"
        and "Golden Globe". The owner of a nominal
        star on the Hollywood Walk of Fame, which
        He received 23 February 2012.