section.information
    .information__text
        p.information__article.
            <span>Дженнифер Энистон Джоанна (Дженнифер Энистон Джоанна)</span> - американская актриса, известная по своей роли Рэйчел Грин в телесериале "Друзья", за которую она была удостоена премии «Эмми» и «Золотой глобус». Владелец номинального звезды на Аллее славы в Голливуде, который она получил 23 февраля 2012 года.