.pop-up__wrapper.outer
    section.pop-up
        .pop-up__form
            .pop-up__input
                label(for="login").pop-up__login Логин
                input(type="text" id="login" name="login").pop-up__log
            .pop-up__input
                label(for="password").pop-up__password Пароль
                input(type="password" id="password" name="password").pop-up__log
        a(href="#").pop-up__title Войти
        a(href="#").pop-up__error Не можете войти?
        a(href="#").pop-up__registration Зарегистрироваться
        a(href="#").pop-up__button X
