section.slider
    p Filmography
    ul.main-slider
        li.main-slider__item
            img(src="#" alt="")
        li.main-slider__item
            img(src="#" alt="")
        li.main-slider__item
            img(src="#" alt="")
        li.main-slider__item
            img(src="#" alt="")
        li.main-slider__item
            img(src="#" alt="")
    ul.slider-dot
        li.slider-dot__item
        li.slider-dot__item-active
        li.slider-dot__item