section.slider
    p.slider__title Фильмография
    ul.main-slider
        li.main-slider__item
            a(href="http://www.kinopoisk.ru/film/490323//")
                img(src="../img/bx-2.jpg" alt="")
        li.main-slider__item
            a(href="http://www.kinopoisk.ru/film/572068/")
                img(src="../img/bx-3.jpg" alt="")
        li.main-slider__item
            a(href="http://www.kinopoisk.ru/film/39577/")
                img(src="../img/bx-4.jpg" alt="")
        li.main-slider__item
            a(href="http://www.kinopoisk.ru/film/582170/")
                img(src="../img/bx-5.jpg" alt="")
        li.main-slider__item
            a(href="http://www.kinopoisk.ru/film/77044/")
                img(src="../img/bx-6.jpg" alt="")
