section.slogan
    //img(src="img/jeniston.jpg" alt="")
    h1.slogan-title Jennifer Aniston
    p.slogan-article.
        Date of Birth: February 11, 1969
        Place of Birth: US
        Activities: Actress
