section.slogan
    .slogan__info
        h1.slogan-title Дженифер Энистон
        table.slogan-article.clearfix
            tr.slogan-cell
                td.slogan-row Дата рождения:
                td.slogan-row 11 февраля 1969
            tr.slogan-cell
                td.slogan-row Место рождения:
                td.slogan-row США
            tr.slogan-cell
                td.slogan-row Деятельность:
                td.slogan-row актриса
    p.slogan__slogan.
        Дженнифер Энистон родилась в городке Шерман-Окс (штат Калифорния, США) в семье американского актёра греческого происхождения Джона Энистона (урождённый Яннис Анастассакис, родом с о. Крит) и Нэнси Доу, актрисы с шотландскими и итальянскими корнями. У Дженнифер есть два брата — Джон Мелик (старший) и Алекс Энистон (младший).

