.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.header {
  background-color: #000000;
  padding: 20px;
  position: relative;
  min-height: 40px;
  text-align: center;
  border-bottom: 2px solid #F29B70;
}
.header:after {
  background: url("../img/ribbon.png") no-repeat right center;
  content: '';
  position: absolute;
  top: -43px;
  right: 50px;
  width: 255px;
  height: 165px;
  background-size: 46%;
}
.header__logo {
  position: absolute;
  margin-left: 20px;
}
.header__name {
  color: #ffffff;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.header__name:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #cc0000;
}
.header__navigation {
  margin-top: 10px;
}
.header__list {
  display: inline-block;
}
.header__item {
  display: inline-block;
  margin-left: 40px;
}
.header__item:first-child {
  margin-left: 0;
}
.header__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.header__link:hover {
  color: #cc0000;
  transition: 0.3s;
}

.slogan {
  background: url("../img/img-info.jpg") no-repeat 0 0;
  min-height: 809px;
  position: relative;
}
.slogan__info {
  position: absolute;
  top: 250px;
  left: 38px;
}
.slogan-title {
  color: #686369;
  font-size: 35px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
.slogan-article, .slogan__slogan {
  color: #404B58;
  font-size: 20px;
}
.slogan-cell {
  line-height: 1.5;
}
.slogan-cell .slogan-row:last-child {
  padding-left: 15px;
}
.slogan__slogan {
  display: block;
  width: 50%;
  position: absolute;
  bottom: 131px;
  left: 37px;
  border: 5px solid #484A54;
  line-height: 1.5;
  padding: 10px;
}

.slider {
  background-color: #000000;
  text-align: center;
  padding: 20px;
}
.slider__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.slider .main-slider {
  margin-bottom: 20px;
}
.slider .main-slider__item {
  display: inline-block;
  margin-left: 45px;
}
.slider .main-slider__item:first-child {
  margin-left: 0;
}

.information {
  background: url("../img/img.jpg") no-repeat 0 0;
  min-height: 1080px;
  position: relative;
}
.information__text {
  width: 50%;
  line-height: 1.5;
  color: #16404A;
  font-size: 23px;
  position: absolute;
  top: 290px;
  left: 35px;
}
.information__text span {
  font-weight: bold;
}

.content {
  min-height: 1050px;
  position: relative;
  background: url("../img/img-2.jpg") no-repeat 0 0;
}
.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 94px;
  background: url("../img/ribbon-3.jpg") repeat-x 0 0;
}
.content:after {
  background: url("../img/ribbon.png") no-repeat;
  content: '';
  position: absolute;
  width: 255px;
  height: 165px;
  top: -62px;
  right: 65px;
}
.content__life {
  width: 50%;
  line-height: 1.5;
  position: absolute;
  top: 300px;
  left: 37px;
}
.content__article {
  color: #FDBE95;
  font-size: 35px;
  display: block;
  margin-bottom: 20px;
}
.content__title {
  color: #ffffff;
  font-size: 20px;
}

.footer {
  min-height: 100px;
  background-color: #000000;
  border-top: 2px solid #F29B70;
  position: relative;
  text-align: center;
}
.footer:after {
  background: url("../img/ribbon.png") no-repeat right center;
  content: '';
  position: absolute;
  top: -43px;
  right: 50px;
  width: 255px;
  height: 165px;
  background-size: 46%;
}
.footer__logo {
  position: absolute;
  margin-left: 20px;
  top: 30px;
}
.footer__name {
  color: #ffffff;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.footer__name:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #cc0000;
}
.footer__title {
  color: #ffffff;
  font-size: 18px;
  margin-top: 45px;
  display: block;
}

.pop-up__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
}
.pop-up__wrapper.outer {
  background-color: transparent;
  transition: 0.3s;
}
.pop-up__wrapper.outer .pop-up {
  top: -200px;
}

.pop-up {
  /*display: none;*/
  font-family: arial, sans-serif;
  width: 300px;
  height: 285px;
  background-color: #293038;
  margin: auto;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.pop-up__title {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  font-weight: bold;
}
.pop-up__form {
  margin-bottom: 30px;
  margin-top: 40px;
}
.pop-up__login, .pop-up__password {
  color: #ffffff;
  font-size: 20px;
  min-width: 90px;
  display: inline-block;
}
.pop-up__input {
  display: block;
  margin-bottom: 15px;
}
.pop-up__error, .pop-up__registration {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #EAEBFD;
}
.pop-up__log {
  display: inline-block;
  width: 50%;
  height: 20px;
  border: 2px solid #A9B1B0;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  color: #2f6fad;
}
.pop-up__button {
  text-decoration: none;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  padding: 5px;
  color: #77046D;
  border-radius: 8px;
  font-weight: bold;
  position: absolute;
  top: 4px;
  right: 12px;
}

.wrapper {
  font-family: arial, sans-serif;
  max-width: 1920px;
}

html, body {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
